/* Neue Montreal */
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal/NeueMontreal-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/NeueMontreal/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal/NeueMontreal-Medium.woff2")
      format("woff2"),
    url("../assets/fonts/NeueMontreal/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal/NeueMontreal-Light.woff2")
      format("woff2"),
    url("../assets/fonts/NeueMontreal/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal/NeueMontreal-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/NeueMontreal/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tusker Grotesk */
@font-face {
  font-family: "Tusker Grotesk 5";
  src: url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.woff2")
      format("woff2"),
    url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker Grotesk 5";
  src: url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.woff2")
      format("woff2"),
    url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker Grotesk 6";
  src: url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-6600Semibold.woff2")
      format("woff2"),
    url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-6600Semibold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker Grotesk 6";
  src: url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-6700Bold.woff2")
      format("woff2"),
    url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-6700Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker Grotesk 8";
  src: url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-8700Bold.woff2")
      format("woff2"),
    url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-8700Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker Grotesk 8";
  src: url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-8800Super.woff2")
      format("woff2"),
    url("../assets/fonts/TuskerGrotesk/TuskerGrotesk-8800Super.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
